In [1]:
import sys
!{sys.executable} --version

Python 3.5.6 :: Anaconda 4.2.0 (64-bit)

In [2]:
print("hello")

hello

In [3]:
import pandas as pd
import numpy as np
import random as rnd

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

C:\Users\Umesh.k\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [4]:
mainframe = pd.read_csv("df_train")

In [5]:
mainframe = mainframe.sort_values(by=['SK_ID_CURR'])
mainframe.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
mainframe.shape

(307511, 106)

In [7]:
from IPython.display import display
# display(mainframe.select_dtypes(include=['object']))
# display(mainframe.isnull().sum())
#display(mainframe.dtypes.value_counts())

In [8]:
frame1 = pd.read_csv("df_application")
frame1 = frame1.sort_values(by=['SK_ID_CURR'])
display(frame1.head(10))
display(frame1.shape)

,cnt_non_child,child_to_non_child_ratio,income_per_non_child,credit_per_person,credit_per_child,credit_per_non_child,DAYS_BIRTH,retirement_age,CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY_diff,CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY_abs_diff,...,OCCUPATION_TYPE_mean_CNT_CHILDREN,OCCUPATION_TYPE_mean_CNT_FAM_MEMBERS,OCCUPATION_TYPE_mean_DAYS_BIRTH,OCCUPATION_TYPE_mean_DAYS_EMPLOYED,OCCUPATION_TYPE_mean_DAYS_ID_PUBLISH,OCCUPATION_TYPE_mean_DAYS_REGISTRATION,OCCUPATION_TYPE_mean_EXT_SOURCE_1,OCCUPATION_TYPE_mean_EXT_SOURCE_2,OCCUPATION_TYPE_mean_EXT_SOURCE_3,SK_ID_CURR
0,1.0,0.0,202500.0,406597.50,406597.5,406597.50,-9461,0,-149004.0,149004.0,...,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093,100002
1,2.0,0.0,135000.0,646751.25,1293502.5,646751.25,-16765,1,-194463.0,194463.0,...,0.558070,2.312223,-14109.967247,-2797.755967,-2750.544868,-4375.710229,0.511520,0.527759,0.494627,100003
2,1.0,0.0,67500.0,135000.00,135000.0,135000.00,-19046,1,-166954.5,166954.5,...,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093,100004
3,2.0,0.0,67500.0,156341.25,312682.5,156341.25,-19005,1,-186903.0,186903.0,...,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093,100006
4,1.0,0.0,121500.0,513000.00,513000.0,513000.00,-19932,1,-151839.0,151839.0,...,0.558070,2.312223,-14109.967247,-2797.755967,-2750.544868,-4375.710229,0.511520,0.527759,0.494627,100007
5,2.0,0.0,49500.0,245247.75,490495.5,245247.75,-16941,1,-146187.0,146187.0,...,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093,100008
6,2.0,0.5,85500.0,520242.00,780363.0,780363.00,-13778,0,-188860.5,188860.5,...,0.488536,2.233286,-14795.827779,-2394.102823,-2815.680220,-4548.626720,0.587270,0.558313,0.512002,100009
7,2.0,0.0,180000.0,765000.00,1530000.0,765000.00,-18850,1,-215950.5,215950.5,...,0.509522,2.300608,-15375.125918,-2759.318937,-2912.840625,-4415.187170,0.554032,0.563656,0.499683,100010
8,2.0,0.0,56250.0,509805.00,1019610.0,509805.00,-20099,1,-182763.0,182763.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100011
9,1.0,0.0,135000.0,405000.00,405000.0,405000.00,-14469,1,-153454.5,153454.5,...,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093,100012

(307511, 118)

In [9]:
# frame1.fillna(0)

In [10]:
# frame1[frame1['CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY_diff'] == pd.isnull(frame1['CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY_diff'])]

In [11]:
# display(frame1.select_dtypes(include=['object']))
# display(frame1.isnull().sum())
# display(frame1.dtypes.value_counts())

In [12]:
frame2 = pd.read_csv("df_application previous")
frame2 = frame2.sort_values(by=['SK_ID_CURR'])
display(frame2.head(10))
display(frame2.shape)

,SK_ID_CURR,application_previous_application_annuity_diff_last_1_applications_mean,application_previous_application_annuity_ratio_last_1_applications_mean,application_previous_application_credit_diff_last_1_applications_mean,application_previous_application_credit_ratio_last_1_applications_mean,application_previous_application_the_same_contract_type_last_1_applications_mean,application_previous_application_the_same_type_suite_last_1_applications_mean,application_previous_application_the_same_weekday_last_1_applications_mean,application_previous_application_hour_diff_last_1_applications_mean,application_previous_application_annuity_diff_last_3_applications_mean,...,application_previous_application_the_same_weekday_last_5_applications_mean,application_previous_application_hour_diff_last_5_applications_mean,application_previous_application_annuity_diff_last_10_applications_mean,application_previous_application_annuity_ratio_last_10_applications_mean,application_previous_application_credit_diff_last_10_applications_mean,application_previous_application_credit_ratio_last_10_applications_mean,application_previous_application_the_same_contract_type_last_10_applications_mean,application_previous_application_the_same_type_suite_last_10_applications_mean,application_previous_application_the_same_weekday_last_10_applications_mean,application_previous_application_hour_diff_last_10_applications_mean
0,100002,15448.725,2.669812,227542.5,2.270797,0,1,0,-1.0,15448.725,...,0.00,-1.000000,15448.725000,2.669812,2.275425e+05,2.270797,0.000000,1.000000,0.000000,-1.000000
1,100003,-62658.495,0.362948,257620.5,1.248697,1,0,0,1.0,-20855.490,...,0.00,3.666667,-20855.490000,2.071487,8.093115e+05,7.988668,0.333333,0.666667,0.000000,3.666667
2,100004,1392.750,1.259975,114894.0,6.714414,0,1,0,-4.0,1392.750,...,0.00,-4.000000,1392.750000,1.259975,1.148940e+05,6.714414,0.000000,1.000000,0.000000,-4.000000
3,100006,-3009.600,0.907952,-593932.5,0.344890,1,1,0,-2.0,-3009.600,...,0.00,-2.000000,6035.325000,3.008889,2.098700e+04,inf,0.555556,0.888889,0.000000,-2.333333
4,100007,5827.860,1.363386,238711.5,1.870294,1,1,0,0.0,6679.425,...,0.20,1.200000,9586.695000,3.887344,3.463612e+05,10.121560,0.666667,0.666667,0.166667,1.333333
5,100008,NaN,NaN,490495.5,inf,1,1,0,2.0,5919.795,...,0.00,-4.000000,11677.803750,2.080781,3.277278e+05,inf,0.400000,0.800000,0.000000,-4.000000
6,100009,30882.330,3.964134,1472094.0,17.609058,0,1,0,1.0,32387.445,...,0.40,-2.000000,31249.587857,4.410582,1.490588e+06,26.093714,0.000000,0.571429,0.285714,-2.285714
7,100010,14611.590,1.532038,1269189.0,5.866317,0,0,0,0.0,14611.590,...,0.00,0.000000,14611.590000,1.532038,1.269189e+06,5.866317,0.000000,0.000000,0.000000,0.000000
8,100011,NaN,NaN,1019610.0,inf,1,0,1,-5.0,13678.875,...,0.25,-2.250000,15523.305000,2.384665,7.577696e+05,inf,0.500000,0.500000,0.250000,-2.250000
9,100012,NaN,NaN,405000.0,inf,0,1,0,5.0,9914.805,...,0.25,4.500000,12355.845000,3.556152,3.308805e+05,inf,0.000000,0.750000,0.250000,4.500000

(307511, 33)

In [13]:
frame3 = pd.read_csv("df_bureau")
frame3 = frame3.sort_values(by=['SK_ID_CURR'])
display(frame3.head(10))
display(frame3.shape)

,SK_ID_CURR,bureau_number_of_past_loans,bureau_number_of_loan_types,bureau_average_of_past_loans_per_type,bureau_credit_active_binary_x,bureau_total_customer_debt,bureau_total_customer_credit,bureau_debt_credit_ratio,bureau_total_customer_overdue,bureau_overdue_debt_ratio,...,bureau_credit_type_mortgage_sum,bureau_credit_type_mortgage_mean,bureau_credit_type_credit_card_sum,bureau_credit_type_credit_card_mean,bureau_credit_type_other_sum,bureau_credit_type_other_mean,bureau_unusual_currency_sum,bureau_unusual_currency_mean,bureau_credit_active_binary_y,bureau_query_count
57591,100001,7,1,7.0,0.428571,596686.5,1453365.000,0.410555,0.0,0.0,...,0,0.0,0,0.000000,0,0.0,0,0.0,3,7
150793,100002,8,2,4.0,0.250000,245781.0,865055.565,0.284122,0.0,0.0,...,0,0.0,4,0.500000,0,0.0,0,0.0,2,8
214141,100003,4,2,2.0,0.250000,0.0,1017400.500,0.000000,0.0,NaN,...,0,0.0,2,0.500000,0,0.0,0,0.0,1,4
84620,100004,2,1,2.0,0.000000,0.0,189037.800,0.000000,0.0,NaN,...,0,0.0,0,0.000000,0,0.0,0,0.0,0,2
271872,100005,3,2,1.5,0.666667,568408.5,657126.000,0.864992,0.0,0.0,...,0,0.0,1,0.333333,0,0.0,0,0.0,2,3
282201,100007,1,1,1.0,0.000000,0.0,146250.000,0.000000,0.0,NaN,...,0,0.0,0,0.000000,0,0.0,0,0.0,0,1
159801,100008,3,1,3.0,0.333333,240057.0,468445.500,0.512454,0.0,0.0,...,0,0.0,0,0.000000,0,0.0,0,0.0,1,3
129703,100009,18,2,9.0,0.222222,1077349.5,4800811.500,0.224410,0.0,0.0,...,0,0.0,2,0.111111,0,0.0,0,0.0,4,18
304144,100010,2,2,1.0,0.500000,348007.5,990000.000,0.351523,0.0,0.0,...,0,0.0,0,0.000000,1,0.5,0,0.0,1,2
99329,100011,4,2,2.0,0.000000,0.0,435228.300,0.000000,0.0,NaN,...,0,0.0,1,0.250000,0,0.0,0,0.0,0,4

(305811, 26)

In [14]:
frame4 = pd.read_csv("df_cash_balance")
frame4 = frame4.sort_values(by=['SK_ID_CURR'])
display(frame4.head(10))
display(frame4.shape)

,SK_ID_CURR,pos_cash_remaining_installments,pos_cash_completed_contracts
275903,100001,3.0,2.0
206934,100002,20.0,0.0
105693,100003,6.0,2.0
296896,100004,3.0,1.0
103563,100005,0.0,1.0
288378,100006,8.0,2.0
20727,100007,8.0,3.0
146339,100008,0.0,4.0
109598,100009,2.0,7.0
49768,100010,8.0,1.0

(337252, 3)

In [15]:
frame5 = pd.read_csv("df_credit_card_balance")
frame5 = frame5.sort_values(by=['SK_ID_CURR'])
display(frame5.head(10))
display(frame5.shape)

,SK_ID_CURR,credit_card_number_of_loans,credit_card_total_instalments,credit_card_installments_per_loan,credit_card_avg_loading_of_credit_limit,credit_card_average_of_days_past_due,credit_card_drawings_atm,credit_card_drawings_total,credit_card_cash_card_ratio
89170,100006,1,0.0,0.0,NaN,0.000000,0.0,0.000,NaN
27868,100011,1,10.0,10.0,0.497149,0.000000,180000.0,180000.000,1.000000
13476,100013,1,26.0,26.0,0.526990,0.010417,571500.0,571500.000,1.000000
89961,100021,1,0.0,0.0,NaN,0.000000,0.0,0.000,NaN
95931,100023,1,0.0,0.0,NaN,0.000000,0.0,0.000,NaN
40573,100028,1,6.0,6.0,0.000000,0.000000,27000.0,301663.620,0.089504
69893,100036,1,0.0,0.0,NaN,0.000000,0.0,0.000,NaN
59360,100042,1,0.0,0.0,0.221643,0.023810,265500.0,497606.490,0.533554
66004,100043,1,0.0,0.0,1.035428,0.000000,67500.0,491864.085,0.137233
42843,100047,1,95.0,95.0,0.000000,0.000000,0.0,0.000,NaN

(103558, 9)

In [16]:
frame6 = pd.read_csv("df_eda-external_sources")
frame6 = frame6.sort_values(by=['SK_ID_CURR'])
frame6 = frame6.drop("TARGET", axis=1)
display(frame6.head(10))
display(frame6.shape)

,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,external_sources_nanmin,external_sources_nanmax,external_sources_sum,external_sources_mean,external_sources_var,external_sources_median,external_sources_std,external_sources_nanmedian,external_sources_nanmean,external_sources_min,external_sources_max,EXT_SRC_weighted3,EXT_SRC_weighted2,EXT_SRC_weighted1
0,100002,0.083037,0.262949,0.139376,0.083037,0.262949,0.485361,0.161787,0.005646,0.139376,0.075139,0.139376,0.161787,0.083037,0.262949,0.168047,0.175517,0.141797
1,100003,0.311267,0.622246,NaN,0.311267,0.622246,0.933513,0.466757,0.024177,NaN,0.155489,0.466757,0.466757,0.311267,0.622246,NaN,NaN,NaN
2,100004,NaN,0.555912,0.729567,0.555912,0.729567,1.285479,0.642739,0.007539,NaN,0.086827,0.642739,0.642739,0.555912,0.729567,NaN,NaN,NaN
3,100006,NaN,0.650442,NaN,0.650442,0.650442,0.650442,0.650442,0.000000,NaN,0.000000,0.650442,0.650442,0.650442,0.650442,NaN,NaN,NaN
4,100007,NaN,0.322738,NaN,0.322738,0.322738,0.322738,0.322738,0.000000,NaN,0.000000,0.322738,0.322738,0.322738,0.322738,NaN,NaN,NaN
5,100008,NaN,0.354225,0.621226,0.354225,0.621226,0.975451,0.487726,0.017822,NaN,0.133501,0.487726,0.487726,0.354225,0.621226,NaN,NaN,NaN
6,100009,0.774761,0.724000,0.492060,0.492060,0.774761,1.990821,0.663607,0.015144,0.724000,0.123060,0.724000,0.663607,0.492060,0.774761,0.632196,0.689378,0.669247
7,100010,NaN,0.714279,0.540654,0.540654,0.714279,1.254934,0.627467,0.007536,NaN,0.086812,0.627467,0.627467,0.540654,0.714279,NaN,NaN,NaN
8,100011,0.587334,0.205747,0.751724,0.205747,0.751724,1.544805,0.514935,0.052303,0.587334,0.228697,0.587334,0.514935,0.205747,0.751724,0.533201,0.454271,0.557334
9,100012,NaN,0.746644,NaN,0.746644,0.746644,0.746644,0.746644,0.000000,NaN,0.000000,0.746644,0.746644,0.746644,0.746644,NaN,NaN,NaN

(307511, 18)

In [17]:
frame7 = pd.read_csv("df_eda-installments")
frame7 = frame7.sort_values(by=['SK_ID_CURR'])
display(frame7.head())
display(frame7.shape)

,SK_ID_CURR,NUM_INSTALMENT_VERSION_sum,NUM_INSTALMENT_VERSION_mean,NUM_INSTALMENT_VERSION_max,NUM_INSTALMENT_VERSION_min,NUM_INSTALMENT_VERSION_std,NUM_INSTALMENT_VERSION_median,NUM_INSTALMENT_VERSION_skew,NUM_INSTALMENT_VERSION_kurt,NUM_INSTALMENT_VERSION_iqr,...,instalment_paid_over_amount_mean,instalment_paid_over_amount_max,instalment_paid_over_amount_min,instalment_paid_over_amount_std,instalment_paid_over_amount_median,instalment_paid_over_amount_skew,instalment_paid_over_amount_kurt,instalment_paid_over_amount_iqr,instalment_paid_over_sum,instalment_paid_over_mean
3173,100011,0.0,0.0,0.0,0.0,NaN,0.0,NaN,-3.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,-3.0,0.0,0,0.0
6527,100013,1.0,1.0,1.0,1.0,NaN,1.0,NaN,-3.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,-3.0,0.0,0,0.0
1436,100016,1.0,1.0,1.0,1.0,NaN,1.0,NaN,-3.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,-3.0,0.0,0,0.0
9689,100087,1.0,1.0,1.0,1.0,NaN,1.0,NaN,-3.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,-3.0,0.0,0,0.0
8434,100123,1.0,1.0,1.0,1.0,NaN,1.0,NaN,-3.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,-3.0,0.0,0,0.0

(9719, 32)

In [18]:
frame8 = pd.read_csv("df_eda-previous_application")
frame8 = frame8.sort_values(by=['SK_ID_CURR'])
display(frame8.head())
display(frame8.shape)

,SK_ID_CURR,previous_application_number_of_prev_application,previous_application_fraction_of_refused_applications,previous_application_CNT_PAYMENT_last_1_applications_mean,previous_application_DAYS_DECISION_last_1_applications_mean,previous_application_DAYS_FIRST_DRAWING_last_1_applications_mean,previous_application_NFLAG_INSURED_ON_APPROVAL_last_1_applications_mean,previous_application_NAME_PRODUCT_TYPE_x_sell_last_1_applications_mean,previous_application_NAME_PRODUCT_TYPE_walk_in_last_1_applications_mean,previous_application_NAME_PAYMENT_TYPE_bank_last_1_applications_mean,...,previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean,previous_application_approved_last_5_applications_mean,previous_application_refused_last_5_applications_mean,previous_application_revolving_loan_last_5_applications_mean,previous_application_cash_loan_last_5_applications_mean,previous_application_consumer_loan_last_5_applications_mean,previous_application_credit_goods_diff_last_5_applications_mean,previous_application_credit_goods_ratio_last_5_applications_mean,previous_application_application_credit_diff_last_5_applications_mean,previous_application_application_credit_ratio_last_5_applications_mean
137758,100001,1,0.0,8.0,-1740,365243.0,0.0,0,0,1,...,0.0,1.0,0.0,0.0,0.000000,1.000000,-1048.5,0.957782,1048.5,1.044079
291936,100002,1,0.0,24.0,-606,365243.0,0.0,0,0,0,...,0.0,1.0,0.0,0.0,0.000000,1.000000,0.0,1.000000,0.0,1.000000
248834,100003,3,0.0,12.0,-746,365243.0,1.0,1,0,0,...,0.0,1.0,0.0,0.0,0.333333,0.666667,48754.5,1.057664,-48754.5,0.949329
296089,100004,1,0.0,4.0,-815,365243.0,0.0,0,0,1,...,0.0,1.0,0.0,0.0,0.000000,1.000000,-4176.0,0.828021,4176.0,1.207699
320295,100005,2,0.0,NaN,-315,NaN,NaN,0,0,0,...,0.0,0.5,0.0,0.0,0.500000,0.500000,-4464.0,0.899950,2232.0,1.111173

(338857, 57)

In [19]:
mainframe1=pd.merge(mainframe, frame1, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe1.head())
display(mainframe1.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,OCCUPATION_TYPE_mean_AMT_ANNUITY,OCCUPATION_TYPE_mean_CNT_CHILDREN,OCCUPATION_TYPE_mean_CNT_FAM_MEMBERS,OCCUPATION_TYPE_mean_DAYS_BIRTH,OCCUPATION_TYPE_mean_DAYS_EMPLOYED,OCCUPATION_TYPE_mean_DAYS_ID_PUBLISH,OCCUPATION_TYPE_mean_DAYS_REGISTRATION,OCCUPATION_TYPE_mean_EXT_SOURCE_1,OCCUPATION_TYPE_mean_EXT_SOURCE_2,OCCUPATION_TYPE_mean_EXT_SOURCE_3
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,26441.027001,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,27557.864032,0.558070,2.312223,-14109.967247,-2797.755967,-2750.544868,-4375.710229,0.511520,0.527759,0.494627
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,26441.027001,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,26441.027001,0.511742,2.276664,-14707.086453,-2424.143152,-2853.826804,-4709.988820,0.422053,0.498419,0.502093
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,27557.864032,0.558070,2.312223,-14109.967247,-2797.755967,-2750.544868,-4375.710229,0.511520,0.527759,0.494627

(307511, 223)

In [20]:
mainframe2=pd.merge(mainframe1, frame2, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe2.head())
display(mainframe2.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,application_previous_application_the_same_weekday_last_5_applications_mean,application_previous_application_hour_diff_last_5_applications_mean,application_previous_application_annuity_diff_last_10_applications_mean,application_previous_application_annuity_ratio_last_10_applications_mean,application_previous_application_credit_diff_last_10_applications_mean,application_previous_application_credit_ratio_last_10_applications_mean,application_previous_application_the_same_contract_type_last_10_applications_mean,application_previous_application_the_same_type_suite_last_10_applications_mean,application_previous_application_the_same_weekday_last_10_applications_mean,application_previous_application_hour_diff_last_10_applications_mean
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0.0,-1.000000,15448.725,2.669812,227542.50,2.270797,0.000000,1.000000,0.000000,-1.000000
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0.0,3.666667,-20855.490,2.071487,809311.50,7.988668,0.333333,0.666667,0.000000,3.666667
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.0,-4.000000,1392.750,1.259975,114894.00,6.714414,0.000000,1.000000,0.000000,-4.000000
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0.0,-2.000000,6035.325,3.008889,20987.00,inf,0.555556,0.888889,0.000000,-2.333333
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.2,1.200000,9586.695,3.887344,346361.25,10.121560,0.666667,0.666667,0.166667,1.333333

(307511, 255)

In [21]:
mainframe3=mainframe2.merge(frame3,how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe3.head())
display(mainframe3.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,bureau_credit_type_mortgage_sum,bureau_credit_type_mortgage_mean,bureau_credit_type_credit_card_sum,bureau_credit_type_credit_card_mean,bureau_credit_type_other_sum,bureau_credit_type_other_mean,bureau_unusual_currency_sum,bureau_unusual_currency_mean,bureau_credit_active_binary_y,bureau_query_count
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0.0,0.0,4.0,0.5,0.0,0.0,0.0,0.0,2.0,8.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0.0,0.0,2.0,0.5,0.0,0.0,0.0,0.0,1.0,4.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

(307511, 280)

In [22]:
# mainframe3=mainframe2.merge(frame3, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
# display(mainframe3.head())
# display(mainframe3.shape)

In [23]:
mainframe4=mainframe3.merge(frame4,how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe4.head())
display(mainframe4.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,bureau_credit_type_credit_card_sum,bureau_credit_type_credit_card_mean,bureau_credit_type_other_sum,bureau_credit_type_other_mean,bureau_unusual_currency_sum,bureau_unusual_currency_mean,bureau_credit_active_binary_y,bureau_query_count,pos_cash_remaining_installments,pos_cash_completed_contracts
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,4.0,0.5,0.0,0.0,0.0,0.0,2.0,8.0,20.0,0.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,2.0,0.5,0.0,0.0,0.0,0.0,1.0,4.0,6.0,2.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,1.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,3.0

(307511, 282)

In [24]:
mainframe5=mainframe4.merge(frame5,how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe5.head())
display(mainframe5.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,pos_cash_remaining_installments,pos_cash_completed_contracts,credit_card_number_of_loans,credit_card_total_instalments,credit_card_installments_per_loan,credit_card_avg_loading_of_credit_limit,credit_card_average_of_days_past_due,credit_card_drawings_atm,credit_card_drawings_total,credit_card_cash_card_ratio
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,8.0,2.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,8.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(307511, 290)

In [25]:
mainframe6=mainframe5.merge(frame6,how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe6.head())
display(mainframe6.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,external_sources_var,external_sources_median,external_sources_std,external_sources_nanmedian,external_sources_nanmean,external_sources_min,external_sources_max,EXT_SRC_weighted3,EXT_SRC_weighted2,EXT_SRC_weighted1
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0.005646,0.139376,0.075139,0.139376,0.161787,0.083037,0.262949,0.168047,0.175517,0.141797
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0.024177,NaN,0.155489,0.466757,0.466757,0.311267,0.622246,NaN,NaN,NaN
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.007539,NaN,0.086827,0.642739,0.642739,0.555912,0.729567,NaN,NaN,NaN
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0.000000,NaN,0.000000,0.650442,0.650442,0.650442,0.650442,NaN,NaN,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.000000,NaN,0.000000,0.322738,0.322738,0.322738,0.322738,NaN,NaN,NaN

(307511, 307)

In [26]:
mainframe7=mainframe6.merge(frame7,how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe7.head())
display(mainframe7.shape)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,instalment_paid_over_amount_mean,instalment_paid_over_amount_max,instalment_paid_over_amount_min,instalment_paid_over_amount_std,instalment_paid_over_amount_median,instalment_paid_over_amount_skew,instalment_paid_over_amount_kurt,instalment_paid_over_amount_iqr,instalment_paid_over_sum,instalment_paid_over_mean
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(307511, 338)

In [27]:
mainframe8=mainframe7.merge(frame8,how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
display(mainframe8.head())
display(mainframe8.shape)
display(mainframe8.isnull().sum())

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean,previous_application_approved_last_5_applications_mean,previous_application_refused_last_5_applications_mean,previous_application_revolving_loan_last_5_applications_mean,previous_application_cash_loan_last_5_applications_mean,previous_application_consumer_loan_last_5_applications_mean,previous_application_credit_goods_diff_last_5_applications_mean,previous_application_credit_goods_ratio_last_5_applications_mean,previous_application_application_credit_diff_last_5_applications_mean,previous_application_application_credit_ratio_last_5_applications_mean
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0.0,1.0,0.0,0.0,0.000000,1.000000,0.0,1.000000,0.0,1.000000
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0.0,1.0,0.0,0.0,0.333333,0.666667,48754.5,1.057664,-48754.5,0.949329
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.0,1.0,0.0,0.0,0.000000,1.000000,-4176.0,0.828021,4176.0,1.207699
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0.0,0.2,0.2,0.4,0.600000,0.000000,109057.5,1.158399,-43623.0,0.879709
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.0,1.0,0.0,0.0,0.800000,0.200000,19842.3,1.085441,-19842.3,0.928543

(307511, 394)

SK_ID_CURR                                                                      0
TARGET                                                                          0
CNT_CHILDREN                                                                    0
AMT_INCOME_TOTAL                                                                0
AMT_CREDIT                                                                      0
AMT_ANNUITY                                                                     0
AMT_GOODS_PRICE                                                                 0
REGION_POPULATION_RELATIVE                                                      0
DAYS_BIRTH_x                                                                    0
DAYS_EMPLOYED                                                                   0
DAYS_REGISTRATION                                                               0
DAYS_ID_PUBLISH                                                                 0
OWN_CAR_AGE                                                                     0
FLAG_MOBIL                                                                      0
FLAG_EMP_PHONE                                                                  0
FLAG_WORK_PHONE                                                                 0
FLAG_CONT_MOBILE                                                                0
FLAG_PHONE                                                                      0
FLAG_EMAIL                                                                      0
CNT_FAM_MEMBERS                                                                 0
REGION_RATING_CLIENT                                                            0
REGION_RATING_CLIENT_W_CITY                                                     0
HOUR_APPR_PROCESS_START                                                         0
REG_REGION_NOT_LIVE_REGION                                                      0
REG_REGION_NOT_WORK_REGION                                                      0
LIVE_REGION_NOT_WORK_REGION                                                     0
REG_CITY_NOT_LIVE_CITY                                                          0
REG_CITY_NOT_WORK_CITY                                                          0
LIVE_CITY_NOT_WORK_CITY                                                         0
EXT_SOURCE_1_x                                                                  0
                                                                            ...
previous_application_NAME_PAYMENT_TYPE_bank_last_3_applications_mean        16454
previous_application_NAME_PAYMENT_TYPE_account_last_3_applications_mean     16454
previous_application_NAME_PAYMENT_TYPE_employer_last_3_applications_mean    16454
previous_application_approved_last_3_applications_mean                      16454
previous_application_refused_last_3_applications_mean                       16454
previous_application_revolving_loan_last_3_applications_mean                16454
previous_application_cash_loan_last_3_applications_mean                     16454
previous_application_consumer_loan_last_3_applications_mean                 16454
previous_application_credit_goods_diff_last_3_applications_mean             27546
previous_application_credit_goods_ratio_last_3_applications_mean            27585
previous_application_application_credit_diff_last_3_applications_mean       16454
previous_application_application_credit_ratio_last_3_applications_mean      26344
previous_application_CNT_PAYMENT_last_5_applications_mean                   18762
previous_application_DAYS_DECISION_last_5_applications_mean                 16454
previous_application_DAYS_FIRST_DRAWING_last_5_applications_mean            33354
previous_application_NFLAG_INSURED_ON_APPROVAL_last_5_applications_mean     33354
previous_application_NAME_PRODUCT_TYPE_x_sell_last_5_applications_mean      16454
previous_application_NAME_PRODUCT_TYPE_walk_in_last_5_applications_mean     16454
previous_application_NAME_PAYMENT_TYPE_bank_last_5_applications_mean        16454
previous_application_NAME_PAYMENT_TYPE_account_last_5_applications_mean     16454
previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean    16454
previous_application_approved_last_5_applications_mean                      16454
previous_application_refused_last_5_applications_mean                       16454
previous_application_revolving_loan_last_5_applications_mean                16454
previous_application_cash_loan_last_5_applications_mean                     16454
previous_application_consumer_loan_last_5_applications_mean                 16454
previous_application_credit_goods_diff_last_5_applications_mean             19336
previous_application_credit_goods_ratio_last_5_applications_mean            19347
previous_application_application_credit_diff_last_5_applications_mean       16454
previous_application_application_credit_ratio_last_5_applications_mean      18491
Length: 394, dtype: int64

In [28]:
mainframe8.columns[mainframe8.isna().any()].tolist()

['cnt_non_child',
 'child_to_non_child_ratio',
 'income_per_non_child',
 'credit_per_person',
 'credit_per_non_child',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_CREDIT_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_CREDIT_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_mean_EXT_SOURCE_1_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_mean_EXT_SOURCE_1_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_mean_EXT_SOURCE_2_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_mean_EXT_SOURCE_2_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_OWN_CAR_AGE_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_OWN_CAR_AGE_abs_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_AMT_ANNUITY_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_AMT_ANNUITY_abs_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_AMT_INCOME_TOTAL_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_AMT_INCOME_TOTAL_abs_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_DAYS_REGISTRATION_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_DAYS_REGISTRATION_abs_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_EXT_SOURCE_1_diff',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_EXT_SOURCE_1_abs_diff',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_AMT_ANNUITY_diff',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_AMT_ANNUITY_abs_diff',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_CNT_CHILDREN_diff',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_CNT_CHILDREN_abs_diff',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_DAYS_ID_PUBLISH_diff',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_DAYS_ID_PUBLISH_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_1_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_1_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_2_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_2_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_AMT_CREDIT_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_AMT_CREDIT_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_AMT_REQ_CREDIT_BUREAU_YEAR_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_AMT_REQ_CREDIT_BUREAU_YEAR_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_APARTMENTS_AVG_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_APARTMENTS_AVG_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_BASEMENTAREA_AVG_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_BASEMENTAREA_AVG_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_1_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_1_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_2_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_2_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_3_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_3_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_NONLIVINGAREA_AVG_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_NONLIVINGAREA_AVG_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_OWN_CAR_AGE_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_OWN_CAR_AGE_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_YEARS_BUILD_AVG_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_YEARS_BUILD_AVG_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_ELEVATORS_AVG_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_ELEVATORS_AVG_abs_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_1_diff',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_1_abs_diff',
 'OCCUPATION_TYPE_mean_AMT_ANNUITY_diff',
 'OCCUPATION_TYPE_mean_AMT_ANNUITY_abs_diff',
 'OCCUPATION_TYPE_mean_CNT_CHILDREN_diff',
 'OCCUPATION_TYPE_mean_CNT_CHILDREN_abs_diff',
 'OCCUPATION_TYPE_mean_CNT_FAM_MEMBERS_diff',
 'OCCUPATION_TYPE_mean_CNT_FAM_MEMBERS_abs_diff',
 'OCCUPATION_TYPE_mean_DAYS_BIRTH_diff',
 'OCCUPATION_TYPE_mean_DAYS_BIRTH_abs_diff',
 'OCCUPATION_TYPE_mean_DAYS_EMPLOYED_diff',
 'OCCUPATION_TYPE_mean_DAYS_EMPLOYED_abs_diff',
 'OCCUPATION_TYPE_mean_DAYS_ID_PUBLISH_diff',
 'OCCUPATION_TYPE_mean_DAYS_ID_PUBLISH_abs_diff',
 'OCCUPATION_TYPE_mean_DAYS_REGISTRATION_diff',
 'OCCUPATION_TYPE_mean_DAYS_REGISTRATION_abs_diff',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_1_diff',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_1_abs_diff',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_2_diff',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_2_abs_diff',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_3_diff',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_3_abs_diff',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_ANNUITY',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_AMT_CREDIT',
 'CODE_GENDER_NAME_EDUCATION_TYPE_mean_EXT_SOURCE_1',
 'CODE_GENDER_NAME_EDUCATION_TYPE_mean_EXT_SOURCE_2',
 'CODE_GENDER_NAME_EDUCATION_TYPE_max_OWN_CAR_AGE',
 'CODE_GENDER_NAME_EDUCATION_TYPE_sum_OWN_CAR_AGE',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_AMT_ANNUITY',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_AMT_INCOME_TOTAL',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_DAYS_REGISTRATION',
 'CODE_GENDER_ORGANIZATION_TYPE_mean_EXT_SOURCE_1',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_AMT_ANNUITY',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_CNT_CHILDREN',
 'CODE_GENDER_REG_CITY_NOT_WORK_CITY_mean_DAYS_ID_PUBLISH',
 'CODE_GENDER_NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_1',
 'CODE_GENDER_NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_2',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_AMT_CREDIT',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_AMT_REQ_CREDIT_BUREAU_YEAR',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_APARTMENTS_AVG',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_BASEMENTAREA_AVG',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_1',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_2',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_EXT_SOURCE_3',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_NONLIVINGAREA_AVG',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_OWN_CAR_AGE',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_mean_YEARS_BUILD_AVG',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_ELEVATORS_AVG',
 'NAME_EDUCATION_TYPE_OCCUPATION_TYPE_REG_CITY_NOT_WORK_CITY_mean_EXT_SOURCE_1',
 'OCCUPATION_TYPE_mean_AMT_ANNUITY',
 'OCCUPATION_TYPE_mean_CNT_CHILDREN',
 'OCCUPATION_TYPE_mean_CNT_FAM_MEMBERS',
 'OCCUPATION_TYPE_mean_DAYS_BIRTH',
 'OCCUPATION_TYPE_mean_DAYS_EMPLOYED',
 'OCCUPATION_TYPE_mean_DAYS_ID_PUBLISH',
 'OCCUPATION_TYPE_mean_DAYS_REGISTRATION',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_1',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_2',
 'OCCUPATION_TYPE_mean_EXT_SOURCE_3',
 'application_previous_application_annuity_diff_last_1_applications_mean',
 'application_previous_application_annuity_ratio_last_1_applications_mean',
 'application_previous_application_credit_diff_last_1_applications_mean',
 'application_previous_application_credit_ratio_last_1_applications_mean',
 'application_previous_application_hour_diff_last_1_applications_mean',
 'application_previous_application_annuity_diff_last_3_applications_mean',
 'application_previous_application_annuity_ratio_last_3_applications_mean',
 'application_previous_application_credit_diff_last_3_applications_mean',
 'application_previous_application_credit_ratio_last_3_applications_mean',
 'application_previous_application_hour_diff_last_3_applications_mean',
 'application_previous_application_annuity_diff_last_5_applications_mean',
 'application_previous_application_annuity_ratio_last_5_applications_mean',
 'application_previous_application_credit_diff_last_5_applications_mean',
 'application_previous_application_credit_ratio_last_5_applications_mean',
 'application_previous_application_hour_diff_last_5_applications_mean',
 'application_previous_application_annuity_diff_last_10_applications_mean',
 'application_previous_application_annuity_ratio_last_10_applications_mean',
 'application_previous_application_credit_diff_last_10_applications_mean',
 'application_previous_application_credit_ratio_last_10_applications_mean',
 'application_previous_application_hour_diff_last_10_applications_mean',
 'bureau_number_of_past_loans',
 'bureau_number_of_loan_types',
 'bureau_average_of_past_loans_per_type',
 'bureau_credit_active_binary_x',
 'bureau_total_customer_debt',
 'bureau_total_customer_credit',
 'bureau_debt_credit_ratio',
 'bureau_total_customer_overdue',
 'bureau_overdue_debt_ratio',
 'bureau_total_prolonged_count',
 'bureau_credit_enddate_percentage',
 'bureau_credit_type_consumer_sum',
 'bureau_credit_type_consumer_mean',
 'bureau_credit_type_car_sum',
 'bureau_credit_type_car_mean',
 'bureau_credit_type_mortgage_sum',
 'bureau_credit_type_mortgage_mean',
 'bureau_credit_type_credit_card_sum',
 'bureau_credit_type_credit_card_mean',
 'bureau_credit_type_other_sum',
 'bureau_credit_type_other_mean',
 'bureau_unusual_currency_sum',
 'bureau_unusual_currency_mean',
 'bureau_credit_active_binary_y',
 'bureau_query_count',
 'pos_cash_remaining_installments',
 'pos_cash_completed_contracts',
 'credit_card_number_of_loans',
 'credit_card_total_instalments',
 'credit_card_installments_per_loan',
 'credit_card_avg_loading_of_credit_limit',
 'credit_card_average_of_days_past_due',
 'credit_card_drawings_atm',
 'credit_card_drawings_total',
 'credit_card_cash_card_ratio',
 'EXT_SOURCE_1_y',
 'EXT_SOURCE_2_y',
 'EXT_SOURCE_3_y',
 'external_sources_nanmin',
 'external_sources_nanmax',
 'external_sources_mean',
 'external_sources_var',
 'external_sources_median',
 'external_sources_std',
 'external_sources_nanmedian',
 'external_sources_nanmean',
 'external_sources_min',
 'external_sources_max',
 'EXT_SRC_weighted3',
 'EXT_SRC_weighted2',
 'EXT_SRC_weighted1',
 'NUM_INSTALMENT_VERSION_sum',
 'NUM_INSTALMENT_VERSION_mean',
 'NUM_INSTALMENT_VERSION_max',
 'NUM_INSTALMENT_VERSION_min',
 'NUM_INSTALMENT_VERSION_std',
 'NUM_INSTALMENT_VERSION_median',
 'NUM_INSTALMENT_VERSION_skew',
 'NUM_INSTALMENT_VERSION_kurt',
 'NUM_INSTALMENT_VERSION_iqr',
 'instalment_paid_late_in_days_sum',
 'instalment_paid_late_in_days_mean',
 'instalment_paid_late_in_days_max',
 'instalment_paid_late_in_days_min',
 'instalment_paid_late_in_days_std',
 'instalment_paid_late_in_days_median',
 'instalment_paid_late_in_days_skew',
 'instalment_paid_late_in_days_kurt',
 'instalment_paid_late_in_days_iqr',
 'instalment_paid_late_sum',
 'instalment_paid_late_mean',
 'instalment_paid_over_amount_sum',
 'instalment_paid_over_amount_mean',
 'instalment_paid_over_amount_max',
 'instalment_paid_over_amount_min',
 'instalment_paid_over_amount_std',
 'instalment_paid_over_amount_median',
 'instalment_paid_over_amount_skew',
 'instalment_paid_over_amount_kurt',
 'instalment_paid_over_amount_iqr',
 'instalment_paid_over_sum',
 'instalment_paid_over_mean',
 'previous_application_number_of_prev_application',
 'previous_application_fraction_of_refused_applications',
 'previous_application_CNT_PAYMENT_last_1_applications_mean',
 'previous_application_DAYS_DECISION_last_1_applications_mean',
 'previous_application_DAYS_FIRST_DRAWING_last_1_applications_mean',
 'previous_application_NFLAG_INSURED_ON_APPROVAL_last_1_applications_mean',
 'previous_application_NAME_PRODUCT_TYPE_x_sell_last_1_applications_mean',
 'previous_application_NAME_PRODUCT_TYPE_walk_in_last_1_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_bank_last_1_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_account_last_1_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_employer_last_1_applications_mean',
 'previous_application_approved_last_1_applications_mean',
 'previous_application_refused_last_1_applications_mean',
 'previous_application_revolving_loan_last_1_applications_mean',
 'previous_application_cash_loan_last_1_applications_mean',
 'previous_application_consumer_loan_last_1_applications_mean',
 'previous_application_credit_goods_diff_last_1_applications_mean',
 'previous_application_credit_goods_ratio_last_1_applications_mean',
 'previous_application_application_credit_diff_last_1_applications_mean',
 'previous_application_application_credit_ratio_last_1_applications_mean',
 'previous_application_CNT_PAYMENT_last_3_applications_mean',
 'previous_application_DAYS_DECISION_last_3_applications_mean',
 'previous_application_DAYS_FIRST_DRAWING_last_3_applications_mean',
 'previous_application_NFLAG_INSURED_ON_APPROVAL_last_3_applications_mean',
 'previous_application_NAME_PRODUCT_TYPE_x_sell_last_3_applications_mean',
 'previous_application_NAME_PRODUCT_TYPE_walk_in_last_3_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_bank_last_3_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_account_last_3_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_employer_last_3_applications_mean',
 'previous_application_approved_last_3_applications_mean',
 'previous_application_refused_last_3_applications_mean',
 'previous_application_revolving_loan_last_3_applications_mean',
 'previous_application_cash_loan_last_3_applications_mean',
 'previous_application_consumer_loan_last_3_applications_mean',
 'previous_application_credit_goods_diff_last_3_applications_mean',
 'previous_application_credit_goods_ratio_last_3_applications_mean',
 'previous_application_application_credit_diff_last_3_applications_mean',
 'previous_application_application_credit_ratio_last_3_applications_mean',
 'previous_application_CNT_PAYMENT_last_5_applications_mean',
 'previous_application_DAYS_DECISION_last_5_applications_mean',
 'previous_application_DAYS_FIRST_DRAWING_last_5_applications_mean',
 'previous_application_NFLAG_INSURED_ON_APPROVAL_last_5_applications_mean',
 'previous_application_NAME_PRODUCT_TYPE_x_sell_last_5_applications_mean',
 'previous_application_NAME_PRODUCT_TYPE_walk_in_last_5_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_bank_last_5_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_account_last_5_applications_mean',
 'previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean',
 'previous_application_approved_last_5_applications_mean',
 'previous_application_refused_last_5_applications_mean',
 'previous_application_revolving_loan_last_5_applications_mean',
 'previous_application_cash_loan_last_5_applications_mean',
 'previous_application_consumer_loan_last_5_applications_mean',
 'previous_application_credit_goods_diff_last_5_applications_mean',
 'previous_application_credit_goods_ratio_last_5_applications_mean',
 'previous_application_application_credit_diff_last_5_applications_mean',
 'previous_application_application_credit_ratio_last_5_applications_mean']

In [29]:
d = mainframe8.fillna(mainframe8.median())
d.isnull().sum()

SK_ID_CURR                                                                  0
TARGET                                                                      0
CNT_CHILDREN                                                                0
AMT_INCOME_TOTAL                                                            0
AMT_CREDIT                                                                  0
AMT_ANNUITY                                                                 0
AMT_GOODS_PRICE                                                             0
REGION_POPULATION_RELATIVE                                                  0
DAYS_BIRTH_x                                                                0
DAYS_EMPLOYED                                                               0
DAYS_REGISTRATION                                                           0
DAYS_ID_PUBLISH                                                             0
OWN_CAR_AGE                                                                 0
FLAG_MOBIL                                                                  0
FLAG_EMP_PHONE                                                              0
FLAG_WORK_PHONE                                                             0
FLAG_CONT_MOBILE                                                            0
FLAG_PHONE                                                                  0
FLAG_EMAIL                                                                  0
CNT_FAM_MEMBERS                                                             0
REGION_RATING_CLIENT                                                        0
REGION_RATING_CLIENT_W_CITY                                                 0
HOUR_APPR_PROCESS_START                                                     0
REG_REGION_NOT_LIVE_REGION                                                  0
REG_REGION_NOT_WORK_REGION                                                  0
LIVE_REGION_NOT_WORK_REGION                                                 0
REG_CITY_NOT_LIVE_CITY                                                      0
REG_CITY_NOT_WORK_CITY                                                      0
LIVE_CITY_NOT_WORK_CITY                                                     0
EXT_SOURCE_1_x                                                              0
                                                                           ..
previous_application_NAME_PAYMENT_TYPE_bank_last_3_applications_mean        0
previous_application_NAME_PAYMENT_TYPE_account_last_3_applications_mean     0
previous_application_NAME_PAYMENT_TYPE_employer_last_3_applications_mean    0
previous_application_approved_last_3_applications_mean                      0
previous_application_refused_last_3_applications_mean                       0
previous_application_revolving_loan_last_3_applications_mean                0
previous_application_cash_loan_last_3_applications_mean                     0
previous_application_consumer_loan_last_3_applications_mean                 0
previous_application_credit_goods_diff_last_3_applications_mean             0
previous_application_credit_goods_ratio_last_3_applications_mean            0
previous_application_application_credit_diff_last_3_applications_mean       0
previous_application_application_credit_ratio_last_3_applications_mean      0
previous_application_CNT_PAYMENT_last_5_applications_mean                   0
previous_application_DAYS_DECISION_last_5_applications_mean                 0
previous_application_DAYS_FIRST_DRAWING_last_5_applications_mean            0
previous_application_NFLAG_INSURED_ON_APPROVAL_last_5_applications_mean     0
previous_application_NAME_PRODUCT_TYPE_x_sell_last_5_applications_mean      0
previous_application_NAME_PRODUCT_TYPE_walk_in_last_5_applications_mean     0
previous_application_NAME_PAYMENT_TYPE_bank_last_5_applications_mean        0
previous_application_NAME_PAYMENT_TYPE_account_last_5_applications_mean     0
previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean    0
previous_application_approved_last_5_applications_mean                      0
previous_application_refused_last_5_applications_mean                       0
previous_application_revolving_loan_last_5_applications_mean                0
previous_application_cash_loan_last_5_applications_mean                     0
previous_application_consumer_loan_last_5_applications_mean                 0
previous_application_credit_goods_diff_last_5_applications_mean             0
previous_application_credit_goods_ratio_last_5_applications_mean            0
previous_application_application_credit_diff_last_5_applications_mean       0
previous_application_application_credit_ratio_last_5_applications_mean      0
Length: 394, dtype: int64

In [30]:
d.columns[d.isna().any()].tolist()

[]

In [31]:
d[d.isin([np.inf,-np.inf]).any(1)]

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,...,previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean,previous_application_approved_last_5_applications_mean,previous_application_refused_last_5_applications_mean,previous_application_revolving_loan_last_5_applications_mean,previous_application_cash_loan_last_5_applications_mean,previous_application_consumer_loan_last_5_applications_mean,previous_application_credit_goods_diff_last_5_applications_mean,previous_application_credit_goods_ratio_last_5_applications_mean,previous_application_application_credit_diff_last_5_applications_mean,previous_application_application_credit_ratio_last_5_applications_mean
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0.0,0.200000,0.200000,0.400000,0.600000,0.000000,109057.500,1.158399,-43623.00000,0.879709
5,100008,0,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588,...,0.0,0.800000,0.000000,0.000000,0.400000,0.600000,8832.375,0.978569,-7065.90000,1.030049
8,100011,0,0,112500.0,1019610.0,33826.5,913500.0,0.018634,-20099,365243,...,0.0,0.750000,0.250000,0.250000,0.500000,0.250000,18810.000,1.037438,-59107.50000,0.644008
9,100012,0,0,135000.0,405000.0,20250.0,405000.0,0.019689,-14469,-2019,...,0.0,0.750000,0.000000,0.000000,0.750000,0.250000,17586.000,1.236566,-13189.50000,0.809751
21,100025,0,1,202500.0,1132573.5,37561.5,927000.0,0.025164,-14815,-1652,...,0.0,0.800000,0.000000,0.000000,0.600000,0.400000,46330.875,1.087099,-37064.70000,0.922920
22,100026,0,1,450000.0,497520.0,32521.5,450000.0,0.020713,-11146,-4306,...,0.0,0.666667,0.000000,0.000000,0.666667,0.333333,34749.000,1.051480,-23166.00000,0.953326
23,100027,0,0,83250.0,239850.0,23850.0,225000.0,0.006296,-24827,365243,...,0.0,0.500000,0.250000,0.000000,0.750000,0.250000,13566.000,1.062332,-10174.50000,0.941348
30,100035,0,0,292500.0,665892.0,24592.5,477000.0,0.025164,-15280,-2668,...,0.0,0.000000,0.400000,0.000000,1.000000,0.000000,0.000,1.000000,0.00000,1.000000
31,100036,0,0,112500.0,512064.0,25033.5,360000.0,0.008575,-11144,-1104,...,0.0,0.000000,0.600000,0.000000,0.400000,0.600000,7831.500,1.039603,-4698.90000,0.964603
33,100039,0,1,360000.0,733315.5,39069.0,679500.0,0.015221,-11694,-2060,...,0.0,0.750000,0.000000,0.000000,0.500000,0.500000,46491.135,1.066868,-34868.35125,0.937814
41,100048,0,0,202500.0,604152.0,29196.0,540000.0,0.009175,-16971,-475,...,0.0,0.750000,0.000000,0.250000,0.750000,0.000000,50425.500,1.084657,-37819.12500,0.927549
43,100050,0,0,108000.0,746280.0,42970.5,675000.0,0.010966,-23548,365243,...,0.0,0.666667,0.000000,0.666667,0.000000,0.333333,0.000,1.000000,0.00000,1.000000
44,100051,0,0,202500.0,661702.5,48280.5,598500.0,0.007114,-9827,-758,...,0.0,0.333333,0.333333,0.000000,0.666667,0.333333,15448.500,1.113076,-5149.50000,0.898411
46,100053,0,0,202500.0,305221.5,17649.0,252000.0,0.019689,-20373,365243,...,0.0,0.400000,0.200000,0.600000,0.400000,0.000000,18954.000,1.210600,-124581.60000,0.558662
51,100059,0,1,540000.0,675000.0,34596.0,675000.0,0.026392,-18632,-6977,...,0.0,0.200000,0.200000,0.200000,0.600000,0.200000,0.000,1.000000,0.00000,1.000000
54,100062,0,0,81000.0,675000.0,32472.0,675000.0,0.010006,-18611,365243,...,0.0,0.200000,0.400000,0.000000,1.000000,0.000000,0.000,1.000000,0.00000,1.000000
55,100063,0,0,180000.0,837427.5,45558.0,666000.0,0.022625,-12955,-4106,...,0.0,0.200000,0.400000,0.200000,0.600000,0.200000,46866.000,1.188364,-28119.60000,0.878056
58,100069,0,1,360000.0,640458.0,27265.5,517500.0,0.007330,-14186,-1743,...,0.0,0.800000,0.000000,0.000000,0.400000,0.600000,-13518.000,0.932012,10814.40000,1.083535
61,100072,0,0,180000.0,1080000.0,44118.0,1080000.0,0.010006,-7907,-1324,...,0.0,0.200000,0.000000,0.000000,1.000000,0.000000,0.000,1.000000,0.00000,1.000000
62,100073,0,0,324000.0,1130760.0,40189.5,810000.0,0.018850,-22843,365243,...,0.0,0.400000,0.200000,0.000000,1.000000,0.000000,46330.500,1.097021,-27798.30000,0.912120
63,100075,0,0,112500.0,95940.0,10462.5,90000.0,0.004960,-12240,-3720,...,0.0,0.400000,0.400000,0.400000,0.600000,0.000000,15447.000,1.105622,-9268.20000,0.908824
65,100077,0,0,180000.0,1256400.0,40657.5,900000.0,0.072508,-12049,-579,...,0.0,0.000000,0.200000,0.200000,0.800000,0.000000,196906.500,1.171596,-39381.30000,0.853536
66,100078,0,0,180000.0,1035000.0,43983.0,1035000.0,0.028663,-19550,-4856,...,0.0,0.000000,0.600000,0.000000,1.000000,0.000000,0.000,1.000000,0.00000,1.000000
68,100080,0,1,157500.0,450000.0,22500.0,450000.0,0.010966,-11956,-3154,...,0.0,0.400000,0.000000,0.000000,1.000000,0.000000,68607.000,1.138600,-27442.80000,0.878272
70,100082,0,2,180000.0,450000.0,21109.5,450000.0,0.018850,-12009,-2844,...,0.0,0.200000,0.400000,0.000000,0.800000,0.200000,40201.500,1.079189,-24120.90000,0.935337
72,100084,0,2,225000.0,495351.0,26140.5,459000.0,0.024610,-14860,-1156,...,0.0,0.200000,0.400000,0.000000,0.600000,0.400000,58818.000,1.036251,-35290.80000,1.026175
74,100086,0,1,135000.0,675000.0,21775.5,675000.0,0.019101,-14264,-2492,...,0.0,0.000000,0.000000,0.000000,0.800000,0.200000,0.000,1.000000,0.00000,1.000000
77,100089,0,0,135000.0,337761.0,15781.5,256500.0,0.025164,-9666,-2811,...,0.0,0.500000,0.250000,0.000000,0.750000,0.250000,51283.500,1.100588,-38462.62500,0.977564
78,100093,0,1,94500.0,585000.0,28273.5,585000.0,0.028663,-18253,-721,...,0.0,0.600000,0.000000,0.000000,0.600000,0.400000,57720.000,1.147653,-34632.00000,0.871655
80,100095,0,2,67500.0,135000.0,6750.0,135000.0,0.020246,-18693,-1434,...,0.0,0.333333,0.333333,0.000000,0.333333,0.666667,0.000,1.000000,0.00000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307418,456151,0,0,90000.0,369720.0,22747.5,292500.0,0.031329,-15450,-4406,...,0.0,0.400000,0.000000,0.000000,1.000000,0.000000,81348.750,1.178202,-32539.50000,0.848991
307423,456156,0,0,90000.0,119448.0,7632.0,94500.0,0.024610,-18324,-1127,...,0.0,0.400000,0.000000,0.000000,0.600000,0.400000,21232.500,1.179213,-12739.50000,0.858764
307424,456157,0,0,193500.0,284400.0,16326.0,225000.0,0.019101,-23922,365243,...,0.0,0.000000,0.200000,0.000000,1.000000,0.000000,0.000,1.000000,0.00000,1.000000
307426,456159,0,0,112500.0,518562.0,25078.5,463500.0,0.019689,-21259,365243,...,0.0,0.200000,0.600000,0.200000,0.800000,0.000000,98401.500,1.087120,-19680.30000,0.919862
307428,456161,0,0,270000.0,1262583.0,40860.0,1102500.0,0.025164,-15164,-4678,...,0.0,0.200000,0.200000,0.000000,0.800000,0.200000,2000.250,1.044019,-800.10000,0.959543
307430,456163,0,0,135000.0,170640.0,11034.0,135000.0,0.035792,-21755,365243,...,0.0,0.600000,0.000000,0.200000,0.600000,0.200000,45229.500,0.996854,-40591.80000,0.686808
307433,456171,1,0,50400.0,113760.0,7731.0,90000.0,0.031329,-10873,365243,...,0.0,0.000000,0.200000,0.000000,1.000000,0.000000,0.000,1.000000,0.00000,1.000000
307437,456175,0,0,81000.0,180000.0,12658.5,180000.0,0.015221,-21906,-2638,...,0.0,0.400000,0.400000,0.000000,0.200000,0.800000,-31962.375,0.943871,25569.90000,1.067031
307439,456177,0,0,247500.0,900000.0,50386.5,900000.0,0.010006,-11368,-1889,...,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,4097.250,1.027401,0.00000,0.967807
307441,456179,0,0,126000.0,254700.0,24939.0,225000.0,0.018209,-24857,365243,...,0.0,0.600000,0.000000,0.000000,0.800000,0.200000,6930.000,1.044000,-4158.00000,0.958724
307442,456180,0,1,135000.0,90000.0,9580.5,90000.0,0.026392,-15921,-2175,...,0.0,0.800000,0.000000,0.000000,0.400000,0.600000,19189.125,1.097527,-15351.30000,0.914216
307446,456184,1,0,270000.0,900000.0,40671.0,900000.0,0.010006,-10130,-1290,...,0.0,0.600000,0.000000,0.000000,0.400000,0.600000,-10975.230,0.909254,6585.13800,1.137270
307447,456185,0,0,135000.0,528633.0,22527.0,472500.0,0.019101,-11193,-4606,...,0.0,0.400000,0.000000,0.400000,0.600000,0.000000,26185.500,1.089523,-10474.20000,0.924072
307448,456186,1,1,207000.0,450000.0,32746.5,450000.0,0.020246,-9918,-3048,...,0.0,0.200000,0.000000,0.000000,0.800000,0.200000,5595.750,1.079214,-2238.30000,0.931619
307453,456192,0,1,135000.0,450000.0,24412.5,450000.0,0.018801,-11280,-517,...,0.0,0.250000,0.250000,0.000000,0.750000,0.250000,23760.000,1.052800,-11880.00000,0.952243
307459,456198,0,0,225000.0,959017.5,49095.0,787500.0,0.035792,-12560,-3735,...,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,53709.300,1.139678,-53709.30000,0.880978
307460,456199,0,1,382500.0,745429.5,24354.0,643500.0,0.007020,-14391,-175,...,0.0,0.800000,0.000000,0.200000,0.600000,0.200000,3578.625,1.018055,-2862.90000,0.983256
307462,456201,0,3,135000.0,1024785.0,57222.0,922500.0,0.008019,-12549,-424,...,0.0,0.600000,0.000000,0.600000,0.200000,0.200000,3465.000,1.022000,-2079.00000,0.979362
307463,456203,0,0,180000.0,247275.0,17338.5,225000.0,0.016612,-24142,365243,...,0.0,0.600000,0.000000,0.200000,0.400000,0.400000,3234.000,1.002087,-1940.40000,1.006975
307464,456204,0,0,58500.0,528633.0,27121.5,472500.0,0.020713,-14582,-1701,...,0.0,0.800000,0.000000,0.200000,0.600000,0.200000,10254.375,1.008285,-8203.50000,0.997725
307471,456211,0,2,112500.0,592560.0,32274.0,450000.0,0.018634,-13388,-3271,...,0.0,0.200000,0.000000,0.400000,0.600000,0.000000,95040.000,1.211200,-19008.00000,0.825627
307474,456214,0,2,135000.0,360000.0,23004.0,360000.0,0.018209,-17477,-6045,...,0.0,0.600000,0.000000,0.600000,0.200000,0.200000,44931.000,1.057869,-26958.60000,0.955766
307477,456217,0,0,360000.0,796396.5,38443.5,643500.0,0.007020,-18463,-698,...,0.0,0.200000,0.600000,0.400000,0.400000,0.200000,0.000,1.000000,0.00000,1.000000
307480,456220,0,1,81000.0,1350000.0,39474.0,1350000.0,0.024610,-10567,-3855,...,0.0,0.600000,0.000000,0.000000,0.400000,0.600000,27015.750,1.046208,-21612.60000,0.958432
307483,456227,0,0,99000.0,247275.0,16479.0,225000.0,0.007330,-24911,365243,...,0.0,0.400000,0.200000,0.000000,1.000000,0.000000,15939.000,1.088000,-9563.40000,0.919855
307487,456231,0,0,117000.0,1071909.0,31473.0,936000.0,0.010147,-23125,365243,...,0.0,0.000000,0.400000,0.000000,1.000000,0.000000,83160.000,1.184800,-33264.00000,0.844024
307493,456237,0,0,135000.0,946764.0,37678.5,765000.0,0.019689,-17533,-2306,...,0.0,0.400000,0.200000,0.400000,0.600000,0.000000,-66898.500,0.875202,40139.10000,1.296137
307496,456240,0,0,360000.0,337500.0,16875.0,337500.0,0.004960,-17345,-2178,...,0.0,0.800000,0.000000,0.000000,0.600000,0.400000,30346.875,1.071806,-24277.50000,0.934193
307497,456241,0,0,180000.0,270126.0,12028.5,193500.0,0.007020,-16679,-1222,...,0.0,0.600000,0.000000,0.000000,0.600000,0.400000,50575.500,1.017782,-30345.30000,0.991451
307500,456244,0,0,261000.0,1303812.0,35982.0,1138500.0,0.031329,-20390,-5326,...,0.0,0.200000,0.000000,0.000000,1.000000,0.000000,130680.000,1.145200,-26136.00000,0.873210

In [32]:
d = d[d.replace([np.inf, -np.inf],np.nan).notnull().all(axis=1)]

In [33]:
d[d.isin([np.nan,np.inf,-np.inf]).any(1)]

Empty DataFrame
Columns: [SK_ID_CURR, TARGET, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, REGION_POPULATION_RELATIVE, DAYS_BIRTH_x, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, EXT_SOURCE_1_x, EXT_SOURCE_2_x, EXT_SOURCE_3_x, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, TOTALAREA_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, FLAG_DOCUMENT_6, FLAG_DOCUMENT_7, FLAG_DOCUMENT_8, FLAG_DOCUMENT_9, FLAG_DOCUMENT_10, FLAG_DOCUMENT_11, FLAG_DOCUMENT_12, FLAG_DOCUMENT_13, FLAG_DOCUMENT_14, FLAG_DOCUMENT_15, FLAG_DOCUMENT_16, FLAG_DOCUMENT_17, FLAG_DOCUMENT_18, FLAG_DOCUMENT_19, FLAG_DOCUMENT_20, FLAG_DOCUMENT_21, ...]
Index: []

[0 rows x 394 columns]

In [34]:
X = d.drop("TARGET", axis=1)
Y = d['TARGET']
display(X.head())
display(X.shape)
display(Y.head())
display(Y.shape)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH_x,DAYS_EMPLOYED,DAYS_REGISTRATION,...,previous_application_NAME_PAYMENT_TYPE_employer_last_5_applications_mean,previous_application_approved_last_5_applications_mean,previous_application_refused_last_5_applications_mean,previous_application_revolving_loan_last_5_applications_mean,previous_application_cash_loan_last_5_applications_mean,previous_application_consumer_loan_last_5_applications_mean,previous_application_credit_goods_diff_last_5_applications_mean,previous_application_credit_goods_ratio_last_5_applications_mean,previous_application_application_credit_diff_last_5_applications_mean,previous_application_application_credit_ratio_last_5_applications_mean
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0.0,1.0,0.0,0.0,0.000000,1.000000,0.0,1.000000,0.0,1.000000
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,0.0,1.0,0.0,0.0,0.333333,0.666667,48754.5,1.057664,-48754.5,0.949329
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0.0,1.0,0.0,0.0,0.000000,1.000000,-4176.0,0.828021,4176.0,1.207699
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0.0,1.0,0.0,0.0,0.800000,0.200000,19842.3,1.085441,-19842.3,0.928543
6,100009,1,171000.0,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,-1213.0,...,0.0,1.0,0.0,0.0,0.000000,1.000000,-3742.2,0.934800,3742.2,1.073240

(192104, 393)

0    1
1    0
2    0
4    0
6    0
Name: TARGET, dtype: int64

(192104,)

In [35]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2,random_state = 0)

In [36]:
display(X_train.shape, y_train.shape)
display(X_test.shape, y_test.shape)

(153683, 393)

(153683,)

(38421, 393)

(38421,)

In [63]:
# RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=20)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
Y_train_predict = random_forest.predict(X_train)
Y_test_predict = random_forest.predict(X_test)
print(Y_pred)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)
acc_random_forest

[0 0 0 ... 0 0 0]

99.45

In [64]:
print(confusion_matrix(y_test,Y_test_predict))
print(classification_report(y_test,Y_test_predict))

print(confusion_matrix(y_train,Y_train_predict))
print(classification_report(y_train,Y_train_predict))

[[35439    54]
 [ 2891    37]]
             precision    recall  f1-score   support

          0       0.92      1.00      0.96     35493
          1       0.41      0.01      0.02      2928

avg / total       0.89      0.92      0.89     38421

[[142121      0]
 [   852  10710]]
             precision    recall  f1-score   support

          0       0.99      1.00      1.00    142121
          1       1.00      0.93      0.96     11562

avg / total       0.99      0.99      0.99    153683

In [70]:
feature_importances = pd.DataFrame(random_forest.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance',ascending=False)

print(feature_importances.columns)

feature_importances["cols"] = feature_importances.index

imp_vars = feature_importances["cols"][:20].tolist()
print(len(imp_vars))

Index(['importance'], dtype='object')
20

In [74]:
random_forest1 = RandomForestClassifier(n_estimators=20,max_depth=10)
random_forest1.fit(X_train[imp_vars], y_train)
Y_pred = random_forest1.predict(X_test[imp_vars])
Y_train_predict = random_forest1.predict(X_train[imp_vars])
Y_test_predict = random_forest1.predict(X_test[imp_vars])
print(Y_pred)
# random_forest1.score(X_train[imp_vars], y_train)
# acc_random_forest = round(random_forest1.score(X_train, y_train) * 100, 2)
# print(acc_random_forest)


print(confusion_matrix(y_test,Y_test_predict))
print(classification_report(y_test,Y_test_predict))

print(confusion_matrix(y_train,Y_train_predict))
print(classification_report(y_train,Y_train_predict))

[0 0 0 ... 0 0 0]
[[35480    13]
 [ 2916    12]]
             precision    recall  f1-score   support

          0       0.92      1.00      0.96     35493
          1       0.48      0.00      0.01      2928

avg / total       0.89      0.92      0.89     38421

[[142118      3]
 [ 11354    208]]
             precision    recall  f1-score   support

          0       0.93      1.00      0.96    142121
          1       0.99      0.02      0.04     11562

avg / total       0.93      0.93      0.89    153683

In [61]:
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,auc

[[142116      5]
 [  1966   9596]]
             precision    recall  f1-score   support

          0       0.99      1.00      0.99    142121
          1       1.00      0.83      0.91     11562

avg / total       0.99      0.99      0.99    153683

In [38]:
# KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, y_train) * 100, 2)
acc_knn

93.23

In [39]:
# gaussian

gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)
acc_gaussian

73.49

In [40]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, y_train) * 100, 2)
acc_perceptron

C:\Users\Umesh.k\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:84: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

91.81

In [41]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, y_train) * 100, 2)
acc_linear_svc

92.43

In [42]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, y_train) * 100, 2)
acc_sgd

C:\Users\Umesh.k\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:84: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

92.47

In [55]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_train_predict = logreg.predict(X_train)
Y_test_predict = logreg.predict(X_test)
print(Y_pred)
acc_log = round(logreg.score(X_train, y_train)*100 , 3)
acc_log

[0 0 0 ... 0 0 0]

92.473

In [57]:
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,auc
print(confusion_matrix(y_train,Y_train_predict))
print(classification_report(y_train,Y_train_predict))

[[142113      8]
 [ 11559      3]]
             precision    recall  f1-score   support

          0       0.92      1.00      0.96    142121
          1       0.27      0.00      0.00     11562

avg / total       0.88      0.92      0.89    153683

In [58]:
print(confusion_matrix(y_test,Y_test_predict))
print(classification_report(y_test,Y_test_predict))

[[35493     0]
 [ 2928     0]]
             precision    recall  f1-score   support

          0       0.92      1.00      0.96     35493
          1       0.00      0.00      0.00      2928

avg / total       0.85      0.92      0.89     38421

C:\Users\Umesh.k\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [44]:
import lightgbm as lgb
d_train = lgb.Dataset(X_train, label=y_train)
params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['objective'] = 'binary'
params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.5
params['num_leaves'] = 30
params['min_data'] = 50
params['max_depth'] = 30
clf = lgb.train(params, d_train, 100)

In [45]:
#Prediction
y_pred=clf.predict(X_test)
y_pred

array([0.13049137, 0.10282634, 0.08242645, ..., 0.08623735, 0.08558381,
       0.07115915])

In [46]:
# # Support Vector Machines

# svc = SVC()
# svc.fit(X_train, y_train)
# Y_pred = svc.predict(X_test)
# acc_svc = round(svc.score(X_train, y_train) * 100, 2)
# acc_svc

In [48]:
models = pd.DataFrame({
    'Model': ['KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC'],
    'Score': [acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc]})
models.sort_values(by='Score', ascending=False)

                        Model   Score
2               Random Forest  98.590
0                         KNN  93.230
1         Logistic Regression  92.473
5  Stochastic Gradient Decent  92.470
6                  Linear SVC  92.430
4                  Perceptron  91.810
3                 Naive Bayes  73.490

In [49]:
X_proba = logreg.predict_proba(X_test)
X_proba

array([[0.80173073, 0.19826927],
       [0.87136222, 0.12863778],
       [0.90444184, 0.09555816],
       ...,
       [0.94203342, 0.05796658],
       [0.82994745, 0.17005255],
       [0.96004257, 0.03995743]])

In [ ]:
# print(confusion_matrix(y_train,Y_train_predict))
# print(classification_report(y_train,Y_train_predict))

In [54]:
# dataframe1=pd.DataFrame(X_proba)
# print(dataframe1.head())
# dataframe1 = dataframe1[dataframe1[0]>.5]
# print(dataframe1.shape)
# dataframe1

In [51]:
clf.score(X_test)

AttributeError: 'Booster' object has no attribute 'score'

In [ ]:
# datadf = mainframe8.sample(frac =.15)
# datadf.to_csv('15percent_of_dataframe')

In [ ]:
# g = mainframe8.fillna(np.median,inplace=True)

In [ ]:
# X = mainframe8.drop("TARGET", axis=1)
# Y = mainframe8['TARGET']
# display(X.head())
# display(X.shape)
# display(Y.head())
# display(Y.shape)

In [ ]:
# import pandas as pd
# from sklearn import datasets, linear_model
# from sklearn.model_selection import train_test_split
# from matplotlib import pyplot as plt
# X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

In [ ]:
# display(X_train.shape, y_train.shape)
# display(X_test.shape, y_test.shape)

In [ ]:
# random_forest = RandomForestClassifier(n_estimators=100)
# random_forest.fit(X_train, y_train)
# Y_pred = random_forest.predict(X_test)
# print(Y_pred)
# random_forest.score(X_train, y_train)
# acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)
# acc_random_forest